{% block commands %}
    \renewcommand{\n}{ {{ app.user.name }} }
    \rhead{ Dnia {{ app.getDate }} }
{% endblock %}

\vspace{\stretch{3}}\noindent
{\large {{ app.guessSMData().getLatexAddress() }} }

{% set appUrl = '{%HTTPS%://%HOST%/ud-' ~ app.id  ~ '.html}' %}
{% set mapUrl = '{https://www.google.com/maps/search/?api=1&query=' ~ app.address.latlng ~ '}' %}

{% set contextImage = '{' ~ root ~ '/' ~ app.contextImage.thumb ~ '}' %}
{% set carImage     = '{' ~ root ~ '/' ~ app.carImage.thumb     ~ '}' %}
{% set mapImage     = '{' ~ root ~ '/' ~ app.getMapImage ~ '}' %}
{% set address      = '\\href' ~ appUrl ~ '{\\underline{' ~ app.address.address ~ '}}' %}

\vspace{\stretch{2}}
\begin{center}
{\Large Zgłoszenie wykroczenia\texttt{ {{ app.number }} }{% if app.sentViaAPI is defined %}\footnote{\noindent Pamiętaj,
że to zgłoszenie zostało wysłane do {{ app.guessSMData.city }} poprzez API. Odpowiedź to {{ app.sentViaAPI }}.{% endif %}} }
\end{center}

    W dniu {{ app.getDate }} {{ app.getDateTimeDivider }} {{ app.getTime }} {{ app.guessUserSex.bylam }}
    świadkiem pozostawienia pojazdu o nr. rejestracyjnym\texttt{ {{ app.carInfo.plateId }} }w okolicy adresu
    {{ address }}{% if app.sentViaAPI is not defined %}\footnote{\noindent Adres oraz mapa, są równocześnie linkami prowadzącymi
    {# jeśli zgłoszenie zostało wysłane przez API, to pokazuję odpowiedni komunikat (widać go powyżej #}
    {# ale równocześnie chowam hint dotyczący mapy – bo zgłoszenia robią się dwustronnicowe #}
    do mapy z lokalizacją zgłoszenia. Podobnie zdjęcia można ,,kliknąć'' aby uzyskać ich powiększenie.}{% endif %}.
    {{ app.getCategory.short }} Sytuacja jest widoczna na załączonych zdjęciach.
    Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie. {{ app.getLatexSafeComment|raw }}
{% if app.statements is not defined or not app.statements.witness %}
    Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.
{% endif %}

    Jestem {{ app.guessUserSex.swiadoma }} odpowiedzialności karnej z art. 233 §1–§3 Kodeksu karnego
    oraz treści art. 182, 183 i 185 Kodeksu Postępowania Karnego.
{% if app.user.exposeData is not defined or not app.user.exposeData %}
    Równocześnie proszę o \textbf{niezamieszczanie} w protokole danych dotyczących mojego miejsca
    zamieszkania.
{% endif %}

\vspace{0.3cm}\noindent
Z poważaniem,

\vspace{0.3cm}
{% if app.hideNameInPdf %}
{\it dane {{ app.guessUserSex.zglaszajacej }} w wiadomości email 
    {% if app.sentViaMail is defined %}

        wysłanej {{ app.sentViaMail.date|date('Y-m-d H:i') }}
        
        na adres {{ app.sentViaMail.to }}
    {% endif %}
}
{% else %}
{\it \n{}

{{ app.user.address }}

Email: {{ app.user.email }}

{% if app.user.msisdn %}Tel: {% endif %}{{ app.user.msisdn }} }
{% endif %}

\vspace{\stretch{3}}\noindent
    \href{{ appUrl }}
        {\includegraphics[width=0.5\textwidth,height=0.5\textwidth,clip=true,keepaspectratio=true]{{ contextImage }} }
    \href{{ appUrl }}
        {\includegraphics[width=0.5\textwidth,height=0.5\textwidth,clip=true,keepaspectratio=true]{{ carImage }} }

\vspace{0.3cm}\noindent
    \href{{ mapUrl|raw }}
        {\includegraphics[width=0.5\textwidth,height=0.3\textwidth,clip=true,keepaspectratio=true]{{ mapImage }} }
    {% if app.shouldIncludePlateImage %}
    {% set plateImage   = '{' ~ root ~ '/' ~ app.carInfo.plateImage ~ '}' %}
    \includegraphics[width=0.2\textwidth,height=0.2\textwidth,clip=true,keepaspectratio=true]{{ plateImage }}
    {% endif %}
\vspace{\stretch{1}}
