<div class="ui-body ui-body-a ui-corner-all application application-details">

    {% if config.confirmationScreen is not defined %}
    <h2>Zgłoszenie wykroczenia {{ app.number ?? '' }}</h2>
        {% if general.isAdmin and not config.isAppOwner %}
        <h3>
            Podgląd administratora.
            <small><a data-ajax="false" href="nowe-zgloszenie.html?edit={{ app.id }}">(edit)</a></small>
        </h3>
        {% endif %}
    {% endif %}
{% if app.sentViaAPI is defined %}
    <b>To zgłoszenie zostało wysłane do {{ app.guessSMData.getName }} poprzez API:</b>
    <cite>{% include('_application.txt.twig') %}</cite>
{% else %}
    {% if app.sentViaMail is defined %}
    <b>To zgłoszenie zostało wysłane do {{ app.guessSMData.getName }} bezpośrednio
    z serwera Uprzejmie Donoszę w dniu {{ app.sentViaMail.date|date('Y-m-d') }}
    o godzinie {{ app.sentViaMail.date|date('H:i') }}.</b>
    {% endif %}
        <p>W dniu <b>{{ app.getDate }}</b> {{ app.getDateTimeDivider }} <b>{{ app.getTime }}</b>
            {{ app.guessUserSex.bylam }} świadkiem pozostawienia
            pojazdu o nr. rejestracyjnym <b>{{ app.carInfo.plateId ?? '...' }}</b>
            {% if app.getRecydywa > 1 %}<sup>(recydywa {{ app.getRecydywa }})</sup>{% endif %}
            w okolicy adresu <b>{{ app.address.address ?? '...' }}</b>.
            {{ app.getCategory.short }}
            Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie.
    {% if app.statements is not defined or not app.statements.witness %}
        Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.
    {% endif %}
            </p>

    {% if app.userComment is defined and app.userComment %}
        <p>{{ app.userComment }}</p>
    {% endif %}

        <p>Jestem {{ app.guessUserSex.swiadoma }} odpowiedzialności karnej z art. 233 §1–§3
            Kodeksu karnego oraz treści art. 182, 183 i 185 Kodeksu Postępowania Karnego.</p>

    {% if app.user.exposeData is not defined or not app.user.exposeData %}
        <p>Równocześnie proszę o niezamieszczanie w protokole danych dotyczących
            mojego miejsca zamieszkania.</p>
    {% endif %}

    {% if app.status not in ['draft', 'ready'] and config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
        <p>Dokument ze zgłoszeniem dostępny jest pod adresem
            <a href="{{ app.id }}.pdf" download="{{ app.number }}" data-ajax="false">{{ app.number }}.pdf</a>.
        </p>
    {% endif %}
{% endif %}

    <div id="user-location" class="ui-grid-a ui-responsive images images-cropped">
        <div class="ui-block-a">
        {% if config.confirmationScreen is not defined %}
            <p>Dane zgłaszającego:<br /><br />
        {% else %}
            <p>Zweryfikuj lokalizację i swoje dane:<br /><br />
        {% endif %}
                <b>{{ app.user.name }}</b>
        {% if config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
                <br />
                {{ app.user.email }}<br />
                {{ app.user.address }}<br />
                {{ app.user.msisdn }}<br />
            {% if config.confirmationScreen is not defined and app.status == 'confirmed' %}
                <br />
                <small>Nieaktualne dane? Popraw je na <a href="register.html">stronie rejestracji</a>
                i wygeneruj ponownie zgłoszenie.</small>
            {% endif %}
        {% else %}
                <br />(dane ukryte)
        {% endif %}
            </p>
        </div>
        <div class="ui-block-b imageContainer">
{% if app.address.latlng is defined and app.address.latlng != 'NaN,NaN' %}
            <div class="loader"></div>
            <a href="https://www.google.com/maps/search/?api=1&query={{ app.address.latlng }}"
                data-ajax="false" target="_blank">
                <img src="{{ app.getMapImage }}?v={{ app.getRevision }}">
            </a>
{% endif %}
        </div>
    </div>
    <div class="ui-grid-a ui-responsive images">
        <div class="ui-block-a imageContainer">
            <a href="#popup1" class="ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all zoom"></a>
            <a href="#popup1" data-rel="popup" data-position-to="window" data-transition="fade">
                <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}"/>
            </a>
        </div>
        <div class="ui-block-b imageContainer">
            <a href="#popup2" class="ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all zoom"></a>
            <a href="#popup2" data-rel="popup" data-position-to="window" data-transition="fade">
                <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}?v={{ app.getRevision }}"/> 
            </a>
        </div>
        <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="a" data-corners="false">
            <a href="#" data-rel="back"
                class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <img class="popphoto" src="{{ app.contextImage.url ??  'img/fff-1.png' }}?v={{ app.getRevision }}" style="max-height:800px;">
        </div>
        <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="a" data-corners="false">
            <a href="#" data-rel="back"
                class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
            <img class="popphoto lazyload" data-src="{{ app.carImage.url ?? 'img/fff-1.png' }}?v={{ app.getRevision }}" style="max-height:800px;">
        </div>
    </div>
{% if app.shouldIncludePlateImage %}
    <div class="ui-grid-a ui-responsive images">
        <div class="ui-block-a"></div>
        <div class="ui-block-b">
            <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}?v={{ app.getRevision }}"/>
        </div>
    </div>
{% endif %}

{% if app.isCurrentUserOwner and config.confirmationScreen is not defined %}
    {% if app.comments and app.comments|length > 0 %}
        <div id="comments">
            <h4>Komentarze</h4>
            <ul data-role="listview">
            {% for date,comment in app.comments %}
                <li>
                    {{ date|date('Y-m-d H:i') }} <b>{{ comment.source }}</b>:
                    {{ comment.comment | raw }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if app.statusHistory|length > 0 %}
        <div id="statusHistory">
            <h4>Historia zmian statusów</h4>
            <ul data-role="listview">
            {% for date,status in app.statusHistory %}
                <li>
                    {{ date|date('Y-m-d H:i') }} <b>{{ app.user.name }}</b>:
                    {{ statuses[status.new].comment }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}

</div>
