{% set sendable = statuses[app.status].sendable %}

<div id="{{ app.id }}"  {% if hideAppOverLimit is defined %}style="display: none;"{% endif %}
    class="application application-short {{ app.getStatus().class }} status-all status-{{ app.getStatus().class }}
        status-{{ app.status }}" data-collapsed-icon="{{ app.getStatus().icon }}"
    data-expanded-icon="carat-d" data-role="collapsible"
    data-filtertext="{{ "#{app.address.address} #{app.number} #{app.date} #{app.carInfo.plateId} "
        ~ "#{app.userComment} #{app.getCategory.short} " }}
        {% if app.getRecydywa > 1 %}recydywa{{ app.getRecydywa }}{% endif %}">

    <h3>{{ app.number }}{%if app.user.stopAgresji is defined and app.user.stopAgresji %}<sup>#SA</sup>{% endif %} ({{ app.getDate }}) {{ app.address.address}}{% if app.comments %}<span title="Komentarz" class="ui-li-count">{{ app.comments|length }}</span>{% endif %}</h3>
    <p data-role="listview" data-inset="false">
        <p>W dniu <b>{{ app.getDate }}</b> {{ app.getDateTimeDivider }} <b>{{ app.getTime }}</b>
            {{ app.guessUserSex.bylam }} świadkiem pozostawienia
            pojazdu o nr. rejestracyjnym <b>{{ app.carInfo.plateId }}</b>
            {% if app.getRecydywa > 1 %}<sup>(recydywa {{ app.getRecydywa }})</sup>{% endif %}
            w okolicy adresu
            <a href="https://www.google.com/maps/search/?api=1&query={{ app.address.latlng }}"
                data-ajax="false" target="_blank"><b>{{ app.address.address}}</b></a>.
            {{ app.getCategory.short }}</p>

{% if app.userComment %}
    <p>{{ app.userComment }}</p>
{% endif %}

{% if statuses[app.status].topButtons %}
    <div>
        {% if app.automatedSM %}
        <a href="#" onclick="_send('{{ app.id }}');"
            data-inline="true" data-mini="true" 
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
            {% if sendable %}cta{% else %}ui-disabled{% endif %}
            ui-icon-{{ statuses['confirmed-waiting'].icon }}
            status-confirmed-waiting">Wyślij {% if sendable %}do {{ app.guessSMData.getName }}{% else %}zgłoszenie{% endif %}</a>
        {% elseif app.unknownSM %}
        <a href="/brak-sm.html"
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail
            {% if sendable %}cta{% else %}ui-disabled{% endif %}
            status-confirmed-waiting">Wyślij zgłoszenie</a>
        {% elseif config.wysylka is not defined %}
        <a href="/wysylka.html?city={{ app.guessSMData.key|url_encode }}" data-ajax="false" 
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini ui-icon-mail status-confirmed-waiting
            {% if sendable %}cta{% else %}ui-disabled{% endif %}">Wyślij zgłoszenie</a>
        {% endif %}
        {% if config.appActionButtons %}
        <a href="/nowe-zgloszenie.html?edit={{ app.id }}" data-ajax="false"
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
            {% if not app.isEditable %}ui-disabled{% endif %}
            ui-icon-edit ui-alt-icon">Edytuj</a>

        <a href="#" onclick="addToGallery('{{ app.id }}')"
            data-inline="true" data-mini="true"
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini addToGallery
                {% if app.addedToGallery %}ui-disabled{% endif %}
                ui-icon-grid ui-alt-icon">Dodaj do galerii</a>
        
        <a href="/ud-{{ app.id }}.html?dialog"
            class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
            ui-icon-info ui-alt-icon">Szczegóły</a>
        {% endif %}
    </div>

{% endif %}
    <div class="ui-grid-a ui-responsive images images-cropped">
        <div class="ui-block-a imageContainer">
            <div class="loader"></div>
            <a href="/ud-{{ app.id }}.html?dialog">
                <img class="lazyload" data-src="{{ app.contextImage.thumb }}?v={{ app.getRevision }}">
            </a>
        </div>
        <div class="ui-block-b imageContainer">
            <div class="loader"></div>
            <a href="/ud-{{ app.id }}.html?dialog">
                <img class="lazyload" data-src="{{ app.carImage.thumb }}?v={{ app.getRevision }}">
            </a>
        </div>
    </div>
{% if config.appActionButtons %}
    <p>Zmień ręcznie status zgłoszenia z <b class="currentStatus">{{ statuses[app.status].name }}</b> na:</p>
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="appActionButtons">
    {% for key,val in statuses %}
        {% if val.class == 'bottom' %}
            <a href="#" onclick="setStatus('{{ app.id }}', '{{ key }}')"
                data-inline="true" data-mini="true" 
                class="ui-btn ui-btn-inline ui-btn-icon-left ui-corner-all ui-nodisc-icon ui-mini
                {% if key not in statuses[app.status].allowed and key != app.status %}hidden{% endif %}
                {% if key == app.status %}ui-disabled{% endif %}
                {{ val.cta ?? '' }}
                ui-icon-{{ val.icon }}
                status-{{ key }}">{{ val.action }}</a>
        {% endif %}
    {% endfor %}
    </fieldset>
{% endif %}
    </p> <!-- data-role="listview" data-inset="false" -->
</div>