Dzień dobry,

w dniu {{ app.getDate }} {{ app.getDateTimeDivider }} {{ app.getTime }} {{ app.guessUserSex.bylam }} świadkiem pozostawienia pojazdu o nr. rejestracyjnym {{ app.carInfo.plateId }} w okolicy adresu {{ app.address.address }}. {{ app.getCategory.short }}

W załączeniu znajduje się zgłoszenie wraz ze zdjęciami oraz mapką prezentującą lokalizacją zdarzenia. Zdjęcia {{ app.guessUserSex.wykonalam }} samodzielnie. {{ app.getJSONSafeComment|raw }}{% if app.statements is not defined or not app.statements.witness %} Nie {{ app.guessUserSex.bylam }} świadkiem samego momentu parkowania.{% endif %}


Jestem {{ app.guessUserSex.swiadoma }} odpowiedzialności karnej z art. 233 §1–§3 Kodeksu karnego oraz treści art. 182, 183 i 185 Kodeksu Postępowania Karnego. {% if app.user.exposeData is not defined or not app.user.exposeData %}Równocześnie proszę o niezamieszczanie w protokole danych dotyczących mojego miejsca zamieszkania.{% endif %}


{% if not app.isEditable() and config.isAppOwnerOrAdmin is defined and config.isAppOwnerOrAdmin %}
Szczegóły: {{ '%HTTPS%://%HOST%/ud-' ~ app.id  ~ '.html' }}
{% endif %}

Zgłaszający:

  {{ app.user.name }}
  {{ app.user.address }}
  {{ app.user.msisdn ?? '' }}

Proszę o kontakt pod adresem email {{ app.user.email }}.
