<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>

<script>
{% if general.isStaging %}
    var config = {
        apiKey: "AIzaSyDXgjibECwejzudsm3YBQh3O5ponz7ArtI",
        authDomain: "uprzejmiedonosze-1494607701827.firebaseapp.com",
        databaseURL: "https://uprzejmiedonosze-1494607701827.firebaseio.com",
        projectId: "uprzejmiedonosze-1494607701827",
        storageBucket: "uprzejmiedonosze-1494607701827.appspot.com",
        messagingSenderId: "509860799944",
        appId: "1:509860799944:web:5e24b16b56db3d44d98cfd"
    };
{% elseif general.isProd %}
    var config = {
        apiKey: "AIzaSyC2vVIN-noxOw_7mPMvkb-AWwOk6qK1OJ8",
        authDomain: "uprzejmie-donosze.firebaseapp.com",
        databaseURL: "https://uprzejmie-donosze.firebaseio.com",
        projectId: "uprzejmie-donosze",
        storageBucket: "uprzejmie-donosze.appspot.com",
        messagingSenderId: "823788795198",
        appId: "1:823788795198:web:cc0192100ac2e16324286f"
  };
{% elseif '%HOST%' == 'uprzejmiedonosze.localhost' %}
    var config = {
        apiKey: "AIzaSyA-gv2Ju8TfVc9e18sB898lXp0-4JrVIQ8",
        authDomain: "uprzejmie-donosze-dev.firebaseapp.com",
        databaseURL: "https://uprzejmie-donosze-dev.firebaseio.com",
        projectId: "uprzejmie-donosze-dev",
        storageBucket: "uprzejmie-donosze-dev.appspot.com",
        messagingSenderId: "961138564803"
    };
{% endif %}
    if (!firebase.apps.length) {
        firebase.initializeApp(config);
    }
</script>