<div data-role="panel" data-position-fixed="true" data-position="left"
    data-display="overlay" data-theme="a" id="mainMenu">

    <ul data-role="listview" data-inset="false">
        <li data-icon="carat-l" class="close"><a href="#" data-rel="close">{{ general.userName ?? '' }}</a></li>
    {% if general.isLoggedIn %}
        <li data-icon="plus">
            <a class="try"
                {% if config.menu == 'start' %}class="active"{% endif %}
                href="/start.html">Nowe zgłoszenie</a></li>
        <li data-icon="bullets">
            <a data-ajax="false" {% if config.menu == 'moje-zgloszenia' %}class="active"{% endif %}
                href="/moje-zgloszenia.html">Moje zgłoszenia
            <span class="ui-li-count">{{ general.stats.active ?? 0 }}</span></a></li>

        {% if config.menu == 'moje-zgloszenia' %}
            <li data-icon="false" class="filter"><a href="#" id="active" class="active">(aktywne) <span class="ui-li-count"></span></a></li>
            {% for key,val in statuses %}
                {% if val.class %} {# class is empty, this is a draft or ready #}
                    <li data-icon="false" class="filter"><a href="#" id="{{ key }}">#{{ val.name|lower }} <span class="ui-li-count"></span></a></li>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if general.stats.confirmed is defined and general.stats.confirmed[0] > 0 %}
        <li data-icon="mail" class="wysylka">
            <a data-ajax="false" {% if config.menu == 'wysylka' %}class="active"{% endif %}
                href="/wysylka.html">Do wysłania
            <span class="ui-li-count">{{ general.stats.confirmed[0] ?? 0 }}</span></a>
        </li>
        {% endif %}
    {% else %}
        <li data-icon="plus"><a class="try" href="/start.html">Spróbuj!</a></li>
    {% endif %}

        <li data-role="list-divider"></li>
        <li data-icon="home">
            <a {% if config.menu == 'index' %}class="active"{% endif %}
                href="/">Strona główna</a></li>
        <li class="subpage" data-icon="false">
            <a data-ajax="false" {% if config.menu == 'galeria' %}class="active"{% endif %}
                href="/galeria.html">– galeria <span class="ui-li-count">{{ general.galleryCount }}</span></a></li>
        <li class="subpage" data-icon="false">
            <a {% if config.menu == 'przepisy' %}class="active"{% endif %}
                href="/przepisy.html">– przepisy</a></li>
        <li class="subpage" data-icon="false">
            <a {% if config.menu == 'faq' %}class="active"{% endif %}
                href="/faq.html">– faq</a></li>
        <li class="subpage" data-icon="false">
            <a {% if config.menu == 'regulamin' %}class="active"{% endif %}
                href="/regulamin.html">– regulamin</a></li>
        <li class="subpage" data-icon="false">
            <a data-ajax="false" {% if config.menu == 'stats' %}class="active"{% endif %}
            href="/statystyki.html">– statystyki</a></li>
        <li class="subpage" data-icon="false">
            <a {% if config.menu == 'changelog' %}class="active"{% endif %}
                href="/changelog.html">– historia zmian</a></li>
        <li class="subpage" data-icon="false">
            <a data-ajax="false" {% if config.menu == 'aplikacja' %}class="active"{% endif %}
                href="/aplikacja.html">– zainstaluj UD</a></li>
        <li class="subpage" data-icon="false">
            <a {% if config.menu == 'projekt' %}class="active"{% endif %}
                href="/projekt.html">– o projekcie</a></li>
        <li data-icon="comment">
            <a data-ajax="false" target="_blank" href="https://fb.com/uprzejmiedonosze.net">Uprzejmie Donoszę na FB</a></li>

        <li data-role="list-divider"></li>
        {% if general.isLoggedIn %}
        <li data-icon="user">
            <a {% if config.menu == 'register' %}class="active"{% endif %}
                href="/register.html?update">Edycja konta</a></li>
        <li data-icon="false" class="subpage">
            <a href="/login.html?logout">– wyloguj się</a></li>
        {% else %}
        <li data-icon="user"><a href="/start.html">Zaloguj/zarejestruj się</a></li>
        {% endif %}

    </ul>

</div><!-- /panel -->