{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}

{% block main %}
<div class="tumblr_posts">
{% for app in applications %}
    <div class="galleryItem" id="{{app.id}}">
        <img class="lazyload" data-src="{{ app.contextImage.thumb }}" width="600" height="400">
        <p class="desc">
            {{ app.number }} <b>{{ app.carInfo.plateId }}</b>
            {{ app.address.city}} – {{ app.getCategory.getShort }}
            {% if app.userComment %}{{ app.userComment }}{% endif %}
        </p>
        <div class="actions">
            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                <label for="OK{{ app.id }}">Dodaj [d]</label>
                <input type="radio" name="moderateApp" value="1" id="OK{{ app.id }}"
                    onclick="_moderateApp('{{ app.id }}', true)" />
                <label for="Out{{ app.id }}">— [esc]</label>
                <input type="radio" name="moderateApp" value="0" id="Out{{ app.id }}"
                    onclick="_moderateApp('{{ app.id }}', false)" />
            </fieldset>
        </div>

    </div>
{% endfor %}
</div>
{% endblock %}
