<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1, user-scalable=no, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>{% if head.title is defined %}{{ head.title ~ ' | ' }}{% endif %}Uprzejmie Donoszę</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png" />
        <link rel="manifest" href="/manifest.json">

        <meta name="theme-color" content="#009C7F">
        <meta property="og:image"
            content="%HTTPS%://%HOST%/{{ head.image ?? 'img/uprzejmiedonosze.png' }}" />
        <meta property="og:title" content="{% if head.title is defined %}{{ head.title ~ ' | ' }}{% endif %}Uprzejmie Donoszę" />
        <meta property="og:description"
            content="{{ head.description ?? 'Uprzejmie Donoszę pozwala na informowanie Straży Miejskiej lub Policji o sytuacjach, które wpływają na komfort i bezpieczeństwo pieszych. Maksymalnie upraszcza wykonanie poprawnego zgłoszenia, i przekazanie go do SM.' }}" />
        <meta property="og:url" content="%HTTPS%://%HOST%{% if config.auth is not defined %}{{ general.uri }}{% endif %}" />
        <meta property="og:locale" content="pl_PL" />
        <meta property="og:type" content="website" />
        <meta property="fb:app_id" content="1299217686854263" />

        <link rel="stylesheet"
            href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" href="/css/index.css?%CSS_HASH%">

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script
            src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        
    {{ include('_firebase.html.twig') }}
    
    {% if config.auth is defined and config.auth %}
        <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth__pl.js"></script>
        <link type="text/css" rel="stylesheet"
            href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css" />
    {% endif %}

    </head>
    <body class="index">
        <div data-role="page" class="container-fluid" data-theme="a" {% if head.dialog is defined and head.dialog %}data-dialog="true"{% endif %}>
        {% block header %}
            <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false">
                {% if leftButton is defined and leftButton == 'menu' %}
                <a href="#mainMenu" id="menuToggle"
                    class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-left ui-btn-icon-left
                        ui-btn-inline ui-alt-icon ui-nodisc-icon">Menu</a>
                {% endif %}

                {% if leftButton is defined and leftButton == 'menuBack' %}
                <a href="javascript:history.back()" data-rel="back" class="ui-btn-left
                    ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all ui-btn-icon-notext
                    {{ leftButtonIcon ?? 'ui-icon-carat-l' }}"
                    data-role="button" role="button">{{ leftButtonText ?? 'Back' }}</a>
                {% endif %}

                <h1>{{ head.shortTitle ?? 'Uprzejmie Donoszę' }} 
                    {% if general.isStaging %}
                        <sup>[STG]</sup>
                    {% elseif general.isProd %}
                    {% else %}
                        <sup>[DEV]</sup>
                    {% endif %}
                </h1>

                {% if rightButton is defined and rightButton == 'menuStart' %}
                <a href="start.html" class="ui-btn-right ui-alt-icon
                    ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline
                    ui-btn-icon-left {{ rightButtonIcon ?? 'ui-icon-plus' }}">
                    {{ rightButtonText ?? 'Zgłoś' }}</a>
                {% endif %}

                {% if rightButton is defined and rightButton == 'menuNewApplication' %}
                <a href="nowe-zgloszenie.html" class="ui-btn-right ui-alt-icon
                    ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left
                    {{ rightButtonIcon ?? 'ui-icon-carat-r' }}"
                    data-ajax="false">{{ rightButtonText ?? 'Nowe zgłoszenie' }}</a>
                {% endif %}

                {% if rightButton is defined and rightButton == 'menuSend' %}
                <a href="#" onclick="_send('{{ app.id }}');" id="send-{{ app.id }}"
                    class="ui-btn-right ui-alt-icon
                    ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left
                    {{ rightButtonIcon ?? 'ui-icon-mail' }}">{{ rightButtonText ?? 'Wyślij teraz!'  }}</a>
                
                <a href="nowe-zgloszenie.html" class="newApplication ui-btn-right ui-alt-icon
                    ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left
                    {{ rightButtonIcon ?? 'ui-icon-carat-r' }}" style="display: none;"
                    data-ajax="false">{{ rightButtonText ?? 'Nowe zgłoszenie' }}</a>
                {% endif %}

                {% block rightButtonCustom %}
                {% endblock %}
            </div> <!-- header -->
        {% endblock %}
            <div data-role="main" class="ui-content {{ head.mainClass ?? '' }} {% if head.dialog is defined and head.dialog %}dialog{% endif %}">
        {% block main %}{% endblock %}
            </div> <!-- main -->
        {% block footer %}
            {% if head.dialog is not defined or not head.dialog %}
            <div data-role="footer">
                <h4 title="%VERSION%">&copy; Uprzejmie Donoszę, 2015–{{ 'now'|date('Y') }}</h4>
            </div> <!-- footer -->
            {% endif %}
        {% endblock %}
        {% block menu %}
            {% include('_menu.html.twig') %}
        {% endblock %}
        </div> <!-- page -->
    {% block jsIncludes %}

    <script src="/js/index.js?%JS_HASH%"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-99241725-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endblock %}
    </body>
</html>