{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>Brak danych Straży Miejskiej</h2>
<p>Jeśli w treści swojego zgłoszenia widzisz informację, że dla twojego miasta nie mamy jeszcze
zapisanego adresu email SM, to trafiłeś na dobrą stronę.</p>

<p>Uprzejmie Donoszę przygotowuje dla Ciebie gotowe pismo do właściwej Straży Miejskiej oraz
automatycznie wysyła gotowy plik zgłoszenia na adres skrzynki SM. Dlatego konieczne jest
zarejestrowanie danych Straży Miejskiej w twoim mieście.</p>

<p>Skontaktuj proszę się z nami pod adresem
    <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a> albo
    <a rel="external" href="https://fb.me/uprzejmiedonosze.net">napisz do nas na FB</a>.
    Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
    oraz adres email Straży Miejskiej.</p>

<p>Jeśli w twoim mieście nie ma Straży Miejskiej (albo gminnej), to poszukaj właściwego
komisariatu Policji i podaj nam te dane.</p>
{% endblock %}