{% set leftButton = 'menu' %}

{% set sm = app.guessSMData() %}

{% if sm.automated %}
    {% set rightButton = 'menuSend' %}
{% else %}
    {% set rightButton = 'menuNewApplication' %}
    {% set rightButtonText = 'Jeszcze raz' %}
    {% set rightButtonIcon = 'ui-icon-plus' %}
{% endif %}

{% extends "base.html.twig" %}

{% block main %}
{% if appsCount == 1 %}
<h2>To twoje pierwsze zgłoszenie, przeczytaj to uważnie</h2>
{% endif %}
<p>Twoje zgłoszenie {% if edited %}numer <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>
    zostało zaktualizowane{% else %}zostało zaktualizowane zarejestrowane pod numerem
    <a href="/ud-{{ app.id }}.html">{{ app.number }}</a>{% endif %}.
    Wszystkie swoje zgłoszenia możesz zawsze zobaczyć na
    <a href="moje-zgloszenia.html">liście swoich zgłoszeń</a>.</p>

{% if sm.automated %}
<div class="whatNext">
    <h4>Co dalej?</h4>
        <p>Twoje zgłoszenie zostało zapisane, ale nie zostało jeszcze wysłane do <b>{{ sm.getName }}</b>.
    {% if sm.hasAPI %}
        Na szczęście w twoim mieście SM udostępniła mechanizm, umożliwiający automatyczne przekazanie
        zgłoszenia. Naciśnij przycisk <b>"Wyślij teraz!"</b> w prawym górnym rogu.</p>
    {% else %}
        Możesz wysłać swoje zgłoszenie za pośrednictwem serwera Uprzejmie Donoszę. 
        {{ app.guessSMData.getName }} otrzyma wiadomość a Ty dostaniesz jej kopię.
        Naciśnij przycisk <b>"Wyślij teraz!"</b> w prawym górnym rogu.</p>
    {% endif %}
    {% if sm.hint %}
    <h4>Uwagi do współpracy z {{ sm.getName }}</h4>
        <p>{{ sm.hint | raw }}</p>
    {% endif %}
</div>
<div class="whatNextDone" style="display: none;">
    <h4>Dziękujemy za wysłanie zgłoszenia</h4>
</div>
{% elseif sm.unknown %}
    <p><b>Niestety, dla twojego miasta nie mamy jeszcze zapisanego adresu email SM.</b>
        Skontaktuj proszę się z nami pod adresem
        <a href="mailto:szymon@uprzejmiedonosze.net">szymon@uprzejmiedonosze.net</a> albo
        <a rel="external" href="https://fb.me/uprzejmiedonosze.net">napisz do nas na FB</a>.
        Aby dodać twoje miasto do bazy Uprzejmie Donoszę potrzebujemy adresu siedziby
        oraz adres email Straży Miejskiej.
    </p>
{% else %}
    <h4>Co dalej?</h4>
    <p><b>Swoje zgłoszenia musisz wysłać samodzielnie</b>.
    Na szczęście nie musisz wysyłać każdego zgłoszenia osobno. Możesz wygenerować ich kilka/kilkanaście,
    i wysłać je dogodnym dla siebie cyklu.</p>
     <p><b>Jak wysyłać zgłoszenia?</b> Najprościej jest wysłać całą paczkę zgłoszeń
        do {{ app.guessSMData.getName }}. Służy do tego strona <a href="wysylka.html?city={{ sm.key|url_encode }}" data-ajax="false">wysyłka</a>.
    </p>
{% endif %}

{% if appsCount > 3 and sm.email and ( not app.addedToGallery ) %}
<div class="addToGallery">
    <h4>Dodaj to zdjęcie do galerii</h4>
    <p>Dodaj zdjęcie do <a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>.
    Udostępnimy zdjęcie z kontekstem, numer rejestracyjny (który nie jest daną osobową!), miasto, twój komentarz oraz rodzaj wykroczenia.</p>

    <span id="{{ app.id }}">
        <a href="#" onclick="addToGallery('{{ app.id }}')"
            class="ui-btn ui-mini ui-corner-all ui-btn-icon-left ui-btn-inline ui-alt-icon addToGallery
            ui-nodisc-icon ui-icon-grid try">Dodaj do galerii</a>
    </span>
    <a href="#" onclick="ignoreGallery()"
        class="ui-btn ui-mini ui-corner-all ui-btn-inline">Zignoruj</a>
    <div class="tumblr_posts dziekujemy">
        <div class="galleryItem" id="{{app.id}}">
            <img src="{{ app.contextImage.thumb }}" width="600" height="400">
            <p class="desc">
                <b>{{ app.carInfo.plateId }}</b>
                {{ app.address.city}} – {{ app.getCategory.getShort }}
                {% if app.userComment %}
                    <br />{{ app.userComment }}
                {% endif %}
            </p>
        </div>
    </div>
</div><!-- class="addToGallery" -->
<div class="addedToGallery" style="display: none;">
<h4>Zdjęcie zostało dodane do galerii</h4>
<p>Dziękujemy za zgłoszenie zdjęcia do
<a target="_blank" data-ajax="false" href="https://galeria.uprzejmiedonosze.net/">Galerii Uprzejmie Donoszę</a>. Twoje zdjęcie oczekuje
na moderację i zostanie opublikowane w przeciągu 24h.
</div>
{% endif %}

<script>
{{ include('_inline.js.twig') }}
</script>

{% endblock %}
