{% if head.dialog %}
    {% set leftButton = 'menuBack' %}
    {% set rightButton = '' %}
{% else %}
    {% set leftButton = 'menu' %}
    {% set rightButton = 'menuStart' %}
{% endif %}
{# SITEMAP-PRIORITY:0.8 #}

{% import "_macros.html.twig" as macros %}

{% extends "base.html.twig" %}
{% block main %}

<h2>Najczęściej zadawane pytania</h2>

<h3>Korzystanie z Uprzejmie Donoszę</h3>
<h4 id="telefon">Czy nie lepiej zadzwonić do Straży Miejskiej?</h4>
<p>To zależy. Telefon do Straży Miejskiej daje Ci cień szansy na interwencję
w przeciągu kilku/kilkunastu godzin od wezwania. W bardzo wielu sytuacjach jest
już zdecydowanie za późno. W wielu innych przypadkach nie ma sensu wzywać patrolu
do jednego zaparkowanego pojazdu. Wtedy najlepiej wykonać zgłoszenie Uprzejmie
Donoszę.</p>

{#<h4>Kiedy korzystać z jakich narzędzi?</h4>
<dl>
    <dt>Widzę jak kierowca parkuje w miejscu niedozwolonym:</dt>
    <dd>Podejdź i spróbuj porozmawiać. Jeśli nie zadziała, zgłoś przez Uprzejmie Donoszę.</dd>

    <dt>Ktoś zaparkował stwarzając realne zagrożenie dla pieszych:</dt>
    <dd>Zadzwoń do SM wskazując, że jest to sytuacja od odholowania auta. Dodatkowo zgłoś
    przez Uprzejmie Donoszę.</dd>

    <dt>Ktoś parkuje w tym samym miejscu dzień w dzień:</dt>
    <dd>Zgłoś Uprzejmie Donoszę. Obszerny opis poniżej.</dd>

    <dt>Ktoś stanął nieprawidłowo, i stoi tak tydzień/miesiąc:</dt>
    <dd>Zgłoś Uprzejmie Donoszę. Obszerny opis poniżej.</dd>

    <dt>Musiałbym zrobić ze 100 zgłoszeń na jednym odcinku:</dt>
    <dd>Dzwoń do Straży Miejskiej z prośbą o blokady.</dd>

    <dt>Mam film z kierowcą jadącym po chodniku:</dt>
    <dd>Wyślij na "Stop agresji drogowej". Więcej detali poniżej.</dd>

    <dt></dt>
    <dd></dd>

</dl>#}

<h4 id="30">Na ulicy codziennie stoi 30 nieprawidłowo zaparkowanych samochodów. Zgłaszać?</h4>
<p>Moim zdaniem nie. To jest sytuacja, w której rozsądniej jest zadzwonić do Straży
Miejskiej z prośbą o interwencję z blokadami.</p>
<p>Dlaczego? Proces przetwarzania zgłoszeń przez Straż Miejską trwa. Zanim mandaty
trafią do kierowców minie miesiąc, może dwa. W tym czasie przez ten odcinek przewiną
się setki pojazdów. Blokady mają znacznie większą moc rażenia oraz bezpośredni
efekt marketingowo-wychowawczy (inni kierowcy widzą "że tu nie wolno").</p>

<h4 id="wideo">Mam film z kierowcą jadącym po chodniku. Jak to zgłosić?</h4>
<p>Jest taki nieformalny podział – zdjęcia do Straży Miejskiej, filmy na Policję.
A konkretnie na adres "Stop Agresji Drogowej". Bez problemu znajdziesz w internecie
odpowiednią skrzynkę mailową dla swojego województwa. Pamiętaj, że zgłoszenie na
Policję powinno posiadać te same dane co zgłoszenie w Uprzejmie Donoszę. Świetny
przewodnik na ten temat napisał <a rel="external" target="_blank" data-ajax="false"
href="https://www.facebook.com/groups/694594880572900?view=permalink&id=1712898748742503&ref=m_notif&notif_t=group_comment_mention">administrator grupy Święte Krowy Warszawskie 
Marek Smyk</a>.</p>
<p>Zgłoszenia z tytułu "Jazdy wzdłuż chodnika lub przejścia dla pieszych pojazdem silnikowym"
mają osobną pozycję w taryfikatorze – 250 zł.</p>

<h4 id="to">Czy "to" warto zgłaszać?</h4>
<p>Gdzie "to", to najczęściej konkretna sytuacja na chodniku/trawniku/ulicy. Pamiętaj, że Uprzejmie Donoszę
nie jest magiczną aplikacją do generowania mandatów. Nawet, jeśli nie zostaniesz wezwany
na świadka (co jest powszechną praktyką w coraz większej ilości miast), to zamienienie
twoich zdjęć w mandat wymaga realnej pracy strażników miejskich. Przyjmij, że na każde
twoje zgłoszenie Straż Miejska musi poświęcić godzinę swojej pracy. I wtedy zastanów się,
czy przypadek, który chcesz zgłosić jest warty tej inwestycji.</p>

<h4 id="swiadek">Czy zostanę wezwany na świadka?</h4>
<p>To zależy od miasta w którym zgłaszasz. Zobacz listę miast na końcu tej strony żeby
dowiedzieć się więcej.</p>

<h4 id="recydywa">Czy zgłaszać ten sam pojazd kilka razy?</h4>
<p>Mandat wystawiany jest za czynność, a nie stan. Oznacza to, że jeśli ktoś zaparkował
nieprawidłowo, i stoi tam tydzień, to nie dostanie siedmiu mandatów. Nawet jeśli wyślesz
w tym czasie dziesięć zgłoszeń. Zmarnujesz tylko czas strażników.</p>
<p>Oczywiście z inną sytuacją mamy do czynienia, gdy ktoś codziennie staje w określonym 
miejscu. Wtedy faktycznie każde zgłoszenie może zakończyć się mandatem. Weź jednak pod uwagę,
że od twojego pierwszego zgłoszenia, do momentu w którym kierowca otrzyma wezwanie może minąć
miesiąc. Dlatego jeśli masz do czynienia z recydywistą, to postaraj się z nim skontaktować.
Włóż kartkę za wycieraczkę. Podejdź kiedy parkuje albo odjeżdża.</p>
<p>Jeśli powyższe nie pomoże, to częstotliwość zgłoszeń pozostawiam już twojemu sumieniu. Autor 
zgłasza recydywistów nie częściej niż raz w tygodniu.</p>

<h3>Pytania techniczne</h3>
<h4 id="aplikacja">Gdzie mogę pobrać aplikację?</h4>
<p>Nie możesz, bo Uprzejmie Donoszę nie jest aplikacją. Jest mobilną stroną WWW,
która jednak dość skutecznie udaje aplikację (szczególnie na telefonach z Androidem).
Spróbuj zrobić sobie skrót na pulpicie, i będziesz miał Uprzejmie Donoszę dostępne
pod własną ikonką, uruchamiane jako osobny program (a nie zakładka w przeglądarce),
oraz oczywiście bez paska adresu, który niepotrzebnie zajmuje miejsce.</p>

<h4 id="bug">Co zrobić, jeśli coś nie działa?</h4>
<p>Napisz do mnie <a data-ajax="false" target="_blank" href="https://fb.com/uprzejmiedonosze.net">na FB</a>.
Idealnie, jeśli będziesz mieć zrzut ekranu prezentujący problem, oraz krótki opis jak
udało się do tej sytuacji doprowadzić.</p>

<h3>Pytania związane ze współpracą ze Strażą Miejską</h3>
<p>Straż Miejska w różnych miastach działa na podstawie tych samych przepisów, ale
interpretuje je różnie. Widoczne jest to szczególnie mocno w domyślnym podejściu do zgłoszenia
przysłanego mailem.</p>
<p>Ta sekcja ma być źródłem informacji o specyfice poszczególnych
Straży Miejskich, wraz ze wskazówkami "jak rozmawiać ze swoim komendantem".</p>
<p>Jeśli widzisz jakieś nieprawidłowości, brakuje twojego miasta,
lub twoje doświadczenia są inne niż opisane poniżej, napisz do mnie
<a data-ajax="false" target="_blank" href="https://fb.com/uprzejmiedonosze.net">na FB</a>.</p>

<h4 id="zignorowac">Czy SM zdarza się zignorować zgłoszenia?</h4>
<p>Moje doświadczenia, poparte informacjami od użytkowników wskazuje na to,
że raczej nie. SM może zignorować anonimy. Ale zgłoszenie przygotowane przez
Uprzejmie Donoszę ma komplet informacji, w tym kluczowe dane kontaktowe zgłaszającego.</p>
<p>Natomiast często nie informują o przyjęciu zgłoszenia oraz rozpoczęciu sprawy. Nie 
krępujcie się pytać i domagać informacji zwrotnej. W korespondencji z SM zawsze warto podawać
numer rejestracyjny, datę i adres wykroczenia.</p>

<h4 d="marka">SM w moim mieście wymaga podania marki pojazdu. Co robić?</h4>
<p>Faktycznie, część funkcjonariuszy tego wymaga (preferencje potrafią być 
rozbieżne nawet w ramach jednej komendy). Z informacji, które pozyskałem w 
trakcie przesłuchań wynika, że podanie marki pojazdu służy dodatkowej
weryfikacji, czy wskazany numer rejestracyjny jest prawidłowy. I o ile 
byłoby to zrozumiałe w przypadku zgłoszenia bez zdjęcia, o tyle w przypadku 
Uprzejmie Donoszę uważam ten wymóg za fanaberię SM.</p>

<p>Straż Miejska mając dostęp do systemu CEPIK (Centralna Ewidencja Pojazdów
i Kierowców) ma możliwość sprawdzenia tego co kryje się pod wskazanym numerem
rejestracyjnym, oraz porównać, czy marka i kolor z systemu zgadza się ze zdjęciem.</p>

<h3 id="miasta">W jakich miastach działa Uprzejmie Donoszę?</h3>
<p>Uprzejmie Donoszę działa wszędzie tam, gdzie istnieje możliwość zgłoszenia
wykroczenia za pomocą poczty elektronicznej lub EPUAP. W praktyce oznacza prawie 
każdą miejscowość w Polsce.</p>

<p>Obecnie Uprzejmie Donoszę ma w swojej bazie adresy email Straży Miejskich lub
Gminnych dla następujących miast: {{ config.SM_ADDRESSES }}.</p>

<p>Dla części z miast mam bezpośrednie relacje od zgłaszających. Sprawdź, czego
możesz się spodziewać po współpracy z SM w następujących miastach:</p>

{{ macros.faq('Chorzów', 'chorzow') }}
    <p>Aktualizacja 10.01.2020.</p> {# informacja od Arek Sz z FB #}
    {{ macros.q(1) }}
    <p>Z doniesień użytkownika wynika, że SM Chorzów wzywa do sporządzenia
    protokołu dla każdego zgłoszenia.</p>
</div>

{{ macros.faq('Gdańsk', 'gdansk') }}
    <p>Aktualizacja 22.03.2019.</p> {# informacja od Miłosz Czarniakowski na FB #}
    {{ macros.q(1) }}
    <p>Domyślnie nie. Osoby składające zawiadomienie o wykroczeniu są wzywane
    na świadka dopiero w sytuacji, gdy ustalony sprawca zaneguje popełnienie
    wykroczenia lub zebrany materiał dowodowy budzi wątpliwości.</p>
    <p>Specyfiką SM w Gdańsku jest konieczność podawania marki pojazdu w zgłoszeniu.
    Nie wynika to z żadnych przepisów, i mam nadzieję, że ten wymóg proceduralny
    zostanie zniesiony. Jednak jeśli chcesz obniżyć prawdopodobieństwo wezwania
    na przesłuchanie, to możesz umieścić model pojazdu w komentarzu.</p>
    {{ macros.q(3) }}
    <p>Z przekazanych na informacji wynika, że o statusie będą informować
    (sic) listem poleconym. Ale mam przykłady osób, które dostały zawiadomienie
    emailem.</p>
</div>

{{ macros.faq('Gdynia', 'gdynia') }}
    <p>Aktualizacja 21.02.2019.</p> {# informacja od Radosław Orłowski na FB #}
    {{ macros.q(1) }}
    <p>SM w Gdyni domyślnie nie wzywa na świadka.</p>

    {{ macros.q(2) }}
    <p>Różnie. Na część zgłoszeń użytkownicy otrzymują potwierdzenia z nadanym numerem
    sprawy. Ale niestety nie działa to w 100%.</p>
</div>

{{ macros.faq('Katowice', 'katowice') }}
    <p>Aktualizacja 23.07.2019.</p> {# informacja od bartekchrupek@gmail.com #}
    {{ macros.q(1) }}
    <p>Z doniesień użytkownika wynika, że SM Katowice podtrzymuje wymóg wezwania
    w roli świadka.</p>
</div>


{{ macros.faq('Łódź', 'lodz') }}
    <p>Aktualizacja 22.02.2019.</p> {# informacja od Jacek Rutkowski na FB #}
    <p>Informacje pozyskane na przykładzie Oddziały Dzielnicowego Łódź - Bałuty.
    Procedury SM różnią się znacznie między miastami, ale wewnątrz jednego
    ośrodka zazwyczaj są spójne. Przyjmujemy na tym etapie, że jest to stanowisko
    SM Łódź.</p>

    {{ macros.q(1) }}
    <p>Wg informacji pozyskanych w SM, w przypadku braku naocznego potwierdzenia
    wykroczenia przez strażników, <i>konieczne jest złożenie oświadczenie ustnie
    lub przesłanie go na piśmie</i>.</p>
    <p>Zawiadomienie takie można złożyć w siedzibie SM przy ul. Mokrej 10 w Łodzi.</p>

    {{ macros.q(2) }}
    <p>Tak. Zostało to empirycznie potwierdzone.</p>
</div>

{{ macros.faq('Kraków', 'krakow') }}
    <p>Aktualizacja 26.02.2019.</p> {# informacja od Katarzyna Arabska na FB z 26.02.2019 #}
    {{ macros.q(1) }}
    <p>Niestety tak. SM w Krakowie domyślnie wzywa na świadka.</p>
</div>

{{ macros.faq('Poznań', 'poznan') }}
    <p>Aktualizacja 23.06.2019.</p> {# informacja od Krzysztof Klimczak na FB z ~19.06.2019 #}
    {{ macros.q(1) }}
    <p>Użytkownicy z Poznania donoszą, że SM nie wzywa na przesłuchanie.</p>
    {{ macros.q(2) }}
    <p>Niestety nie. O tym, że zgłoszenia są faktycznie przetwarzane można dowiedzieć
    się dopiero jeśli popełni się jakąś pomyłkę (np. w numerze rej. pojazdu). Bo wtedy
    SM kontaktuje się mailowo z prośbą o wyjaśnienia.</p>
</div>


{{ macros.faq('Rzeszów', 'rzeszow') }}
    <p>Aktualizacja 30.04.2019.</p> {# informacja od JU SI/Jan Sitarz na FB z 30.04.2019 #}
    {{ macros.q(1) }}
    <p>W Rzeszowie jest chyba najgorzej w z wszystkich opisywanych miast.
    Z informacji uzyskanych przez użytkownika Uprzejmie Donoszę wynika, że "ustalenie
    sprawców zajmie rok" a komendant wprost prosi o "niezgłaszanie takich przypadków".</p>
</div>

{{ macros.faq('Szczecin', 'szczecin') }}
    <p>Aktualizacja 27.03.2019.</p> {# informacja od SZN #}
    {{ macros.q(1) }}
    <p>Niestety tak. SM wzywa automatycznie do wszystkich zgłoszeń. Musisz 
    liczyć się z 3-6 minutami na zgłoszenie do odsiedzenia w SM. Warto
    wysyłać paczki po ~10 sztuk, co pozwala potem przerobić całą paczkę 
    podczas jednej, kilkudziesięciominutowej wizyty.</p>

    {{ macros.q(2) }}
    <p>Tak. SM wysyła wezwanie na przesłuchanie świadka, i podaje numer sprawy.
    Niestety nie sposób powiązać tego numeru sprawy ze swoim zgłoszeniem. Jeśli 
    wysłaliśmy kilka paczek zgłoszeń, to nie będzie nam łatwo zorientować się 
    dla których dostaliśmy wezwanie. Niemniej z doświadczenia autora wynika,
    że 100% zgłoszeń jest przyjmowanych i przetwarzanych przez SM.</p>

    {{ macros.q(3) }}
    <p>(niestety) Najprościej jest pytać o to w trakcie wizyty w SM, podając
    numer rejestracyjny.</p>
</div>

{#
{{ macros.faq('Świdnica', 'swidnica') }}
    <p>Aktualizacja 30.03.2019.</p> { informacja od Dominik Całka na FB z 30.03.2019 }
    {{ macros.q(1) }}
    <p>Na ten moment zgłaszający są wzywanie do wszystkich spraw. Ale (!) "chodzą plotki",
    że w przypadku spraw nie budzących wątpliwości praktyka ta zostanie zaniechana. Czekam
    na aktualizację.</p>
</div>
#}

{{ macros.faq('Warszawa', 'warszawa') }}
    <p>Aktualizacja 30.03.2019.</p> {# informacja od SZN #}
    {{ macros.q(1) }}
    <p>Domyślnie nie. Osoby składające zawiadomienie o wykroczeniu są wzywane na świadka dopiero
    w sytuacji, gdy ustalony sprawca zaneguje popełnienie wykroczenia lub
    zebrany materiał dowodowy budzi wątpliwości.</p>
    <p>Powyższa procedura dotyczy wszystkich oddziałów terenowych SM.</p>

    {{ macros.q(2) }}
    <p>Tak. SM wysyła maile z "zawiadomieniem o przyjęciu sprawy". W mailu można znaleźć datę
    i godzinę zgłoszenia, po których można zidentyfikować odpowiednie zgłoszenie w Uprzejmie 
    Donoszę.</p>

    {{ macros.q(3) }}
    <p>Jeśli znamy numer sprawy SM, używajmy go w korespondencji. Jeśli go nie znamy
    (np. SM nie wysłała nam potwierdzenia z numerem), najlepiej podawać numer 
    rejestracyjny pojazdu oraz datę wykroczenia.</p>
</div>

{{ macros.faq('Wrocław', 'wroclaw') }}
    <p>Aktualizacja 25.06.2019.</p> {# https://www.facebook.com/akcjamiastowro/photos/a.717624148327070/2273253956097407/?type=3&theater #}
    {{ macros.q(1) }}
    <p>Cytat za <a href="https://www.facebook.com/akcjamiastowro/posts/2271807439575392?comment_id=2273069926115810" rel="external">komentarzem</a> rzecznika SM Wrocław na fanpageu <a href="https://www.facebook.com/akcjamiastowro" rel="external">Akcja Miasto</a>:</p>
    <blockquote>W Straży Miejskiej Wrocławia został wprowadzony algorytm, w myśl którego po otrzymaniu zawiadomienia mailowego możliwe jest ukaranie sprawcy wykroczenia z pominięciem wzywania świadka na przesłuchanie. 
    Takie zgłoszenie mailowe musi jednak spełnić minimalne wymagania, w szczególności musi zawierać: 
        <ul>
            <li>imię i nazwisko zawiadamiającego oraz jego adres</li>
            <li>wyraźny numer rejestracyjny pojazdu</li>
            <li>wskazanie miejsca wykroczenia, daty i godziny ujawnienia</li>
        </ul>
    Jeżeli okoliczności czynu nie budzą wątpliwości, w pierwszej kolejności wzywany jest właściciel pojazdu. Ustalany jest sprawca, a jeżeli przyzna się do winy, nakładany jest mandat. 
    Jeżeli jednak sprawca nie poczuwa się do winy, bądź odmawia przyjęcia grzywny, a także w sytuacji, gdy okoliczności czynu budzą wątpliwości, to przesłuchanie świadka jest obligatoryjne.</blockquote>
    <p>Zgłoszenia generowane za pomocą Uprzejmie Donoszę oczywiście spełniają wszystkie oczekiwania wymienione
    przez rzecznika SM.</p>
</div>

{% endblock %}