{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}

{% extends "base.html.twig" %}
{% block main %}
<h2>Mandat społeczny "Robisz to Źle"</h2>

<p>Mandat społeczny "Robisz to Żle", to narzędzie do komunikacji z kierowcami,
    w sytuacji w której nie widzimy samego momentu parkowania.</p>
<p>Oryginalna ulotka powstała w 2015 roku w ramach akcji
    <a href="robtodobrze.html">Rób to Dobrze</a>.</p>

<h3>Kiedy używać?</h3>
<p>Mandat społeczny wkładaj za wycieraczkę:<p>
<ul>
    <li>kiedy chcesz przekazać kierowcy informację <b>"Hej, robisz to źle"</b>. Na przykład mijając
        codziennie ten sam niepoprawnie zaparkowany samochód. Jeśli mandat społeczny nie
        poskutkuje, nie pozostanie Ci nic innego jak dokonać zgłoszenia;</li>
    <li>kiedy chcesz przekazać kierowcy ostrzeżenie <b>"Wierzę, że nie robisz tego świadomie. Ale
        nie możesz parkować w tym miejscu";</b>
    <li>kiedy chcesz zostawić kierowcy wyrok, <b>"Tu byłem, zgłosiłem i będę nadal zgłaszał"</b>.</li>
</ul>
<p>Możesz pomóc kierowcy i zakreślić mu rodzaj wykroczenia na pierwszej stronie. Na odwrocie masz
też specjalnie miejsce na wiadomość dla kierowcy. Nie, to nie jest miejsce na obelgi, tylko na
kulturalną informację.</p>

<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        <img data-src="img/mandat-1.jpg" class="lazyload one-third" />
    </div>
    <div class="ui-block-b">
        <img data-src="img/mandat-2.jpg" class="lazyload one-third" />
    </div>
</fieldset>

<h3>Jak wydrukować samodzielnie?</h3>
<p>Swoją osobistą paczkę mandatów społecznych możesz wydrukować samodzielnie w dowolnej
drukarni – także online.</p>
<p>Najpierw pobierz:</p>
<a href="img/mandat.pdf" download="mandat.pdf" data-ajax="false" class="ui-btn ui-corner-all ui-btn-inline try">Mandat do samodzielnego wydruku</a>
<p>W trakcie zlecania wydruku zostaniesz zapytana/y o:</p>
<dl>
    <dt>Rodzaj wydruku</dt>
    <dd>ulotka standardowa</dd>
    <dt>Rozmiar</dt>
    <dd>DL (99x210 mm)</dd>
    <dt>Papier</dt>
    <dd>kreda mat 90g lub 130g</dd>
    <dt>Kolor</dt>
    <dd>dwustronnie 4/4</dd>
</dl>
<p>Koszty wydruku są ściśle uzależnione od ilości. Przy małych nakładach (kilkadziesiąt sztuk)
i wydruku cyfrowym, cena może przekraczać 1 zł/sztukę. Przy dużych nakładach (setki/tysiące)
koszt wydruku pojedynczej sztuki spada do kilku groszy. W praktyce wydrukowanie 50 sztuk może
kosztować prawie tyle samo co wydrukowanie 1000 sztuk.</p>

<h3>Jak dostać za darmo?</h3>
<p>Wbrew pozorom nie jest to podchwytliwe pytanie. Drukowanie dużych ilości wychodzi znacznie
taniej, niż małych paczek. Dlatego zbieramy zamówienia, i drukujemy je hurtowo. Jest jeden warunek
– musisz otrzymane ulotki nie tylko wykorzystywać samodzielnie, ale także dystrybuować. Jak?
Na przykład zostawiając je w swojej ulubionej kawiarni lub punkcie usługowym.</p>

<p>Napisz do nas na <a target="_blank" rel="external" href="https://fb.me/uprzejmiedonosze.net">Facebooku</a>,
podając ile chcesz ulotek, z jakiego miasta do nas piszesz oraz na jaki adres wysłać przesyłkę.
Po otrzymaniu paczki będziemy prosili o zdjęcie wyłożonych ulotek w miejscu, które udało ci się
zainteresować kolportażem.</p>

{% endblock %}