{% set leftButton = 'menuBack' %}

{% block rightButtonCustom %}
<a id="form-submit"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-carat-r">Dalej</a>
{% endblock %}

{% extends "base.html.twig" %}
{% block main %}

<form action="/potwierdz.html" id="form" method="post" data-ajax="false">
    <input type="hidden" name="applicationId" id="applicationId" value="{{ app.id }}"/>
    <div>
        {% if config.edit %}
        <div class="ui-corner-all custom-corners edit-warning">
            <div class="ui-bar ui-bar-a">
                <h4>Edycja zgłoszenia</h4>
            </div>
            <div class="ui-body ui-body-a">
                <p>Edytujesz zgłoszenie {% if app.number %}numer {{ app.number }}{% endif %}
                {% if app.added is defined %}powstałe {{ app.added|date('Y-m-d H:i') }}{% endif %}.
                Jeśli chcesz zacząć od nowa, <a data-ajax="false" class="cleanup" href="?cleanup">kliknij tutaj</a>.</p>
            </div>
        </div>
        {% endif %}
        <div class="ui-grid-a ui-responsive images images-cropped">
            <div class="ui-block-a imageContainer image-upload contextImageSection">
                <label for="contextImage">
                    Wgraj zdjęcie z widocznym wykroczeniem
                    <p class="pictureHint">{{ categories[app.category].contextImageHint }}</p>
                    <div class="loader l" style="display: none;"></div>
                    <img src="{{ app.contextImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
                <input type="file" accept="image/jpeg" id="contextImage"
                    title="Zdjęcie przedstawiające kontekst"
                        value="{{ app.contextImage.url ?? '' }}" />
            </div>
            <div class="ui-block-b imageContainer image-upload carImageSection">
                <label for="carImage">
                    Wgraj zdjęcie z widoczną tablicą rejestracyjną
                    <p class="pictureHint">{{ categories[app.category].carImageHint }}</p>
                    <div class="loader l" style="display: none;"></div>
                    <img src="{{ app.carImage.thumb ?? 'img/fff-1.png' }}"/>
                </label>
                <div id="recydywa"></div>
                <input type="file" accept="image/jpeg" id="carImage"
                    title="Zdjęcie przedstawiające samochód i tablicę rejestracyjną"
                    value="{{ app.carImage.url ?? '' }}" />
            </div>
        </div>

        <label for="plateId" id="plateHint">Podaj numer rejestracyjny</label>
        <div class="plate">
            <input class="required" type="text" id="plateId" name="plateId"
                placeholder="(numer rejestracyjny)" value="{{ app.carInfo.plateId ?? '' }}"
                autocomplete="off" style="text-transform:uppercase" />
            <img id="plateImage" src="{{ app.carInfo.plateImage ?? '' }}"
                {% if not app.shouldIncludePlateImage %}style="display: none;"{% endif %}/>
        </div>
        <div class="ui-grid-a ui-responsive images images-cropped" >
            <div class="ui-block-a">
                <label for="lokalizacja" id="addressHint" style="display: inline;" >Podaj adres lub wskaż go na mapie</label>
                <a id="resizeMap" class="ui-button-resizeMap ui-icon-arrowsout"></a>
                <div id="locationPicker" class="locationPickerClass"></div>
            </div>
            <div class="ui-block-b">
                <div class="combo">
                    <input {#readonly#} type="text" maxlength="70" required id="lokalizacja" name="lokalizacja"
                        placeholder="(wskaż lokalizację na mapie)" data-inline="true" class="{#ui-disabled#}"
                        value="{{ app.address.address ?? '' }}" />
                    <a id="geo" data-role="button" data-icon="location" data-iconpos="notext"
                        data-mini="true" data-inline="true" data-corners="true" data-shadow="false"
                        data-iconshadow="false" data-wrapperels="span" data-theme="b" title="GPS"></a>
                </div>
            </div>
        </div>
        <label for="datetime" id="dateHint">Data i czas zgłoszenia</label>
        <div class="datetime">
            <input type="hidden" id="datetime" name="datetime" value="{{ app.date }}" />

            <a href="#" id="dm" class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Dzień wcześniej</a>
            <a href="#" id="dp" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Dzień później</a>
            <span id="date"></span>

            <span id="dtPrecise">około</span>

            <a href="#" id="hm" class="ui-btn ui-icon-minus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Godzina wcześniej</a>
            <a href="#" id="hp" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-btn-inline ui-mini">Godzina później</a>
            <span id="time"></span>
            <a href="#" class="changeDatetime">(zmień datę, jeśli niepoprawna)</a>
        </div>

        <input type="hidden" id="dtFromPicture" name="dtFromPicture" value="{{ app.dtFromPicture ?? '1' }}" />

        <input type="hidden" id="street_number" name="street_number" />
        <input type="hidden" id="route" name="street_name" />
        <input type="hidden" id="locality" name="city" value="{{ app.address.city ?? '' }}" />
        <input type="hidden" id="administrative_area_level_1" name="voivodeship" value="{{ app.address.voivodeship ?? '' }}" />
        <input type="hidden" id="country" name="country" />
        <input type="hidden" id="district" name="district" />
        <input type="hidden" id="latlng" name="latlng" value="{{ app.address.latlng ?? '' }}" />

        <label for="comment">Podaj komentarz</label>
        <textarea type="text" id="comment" name="comment"
            placeholder="(opcjonalny komentarz, np. szczegóły dotyczące lokalizacji)">{{ app.userComment ?? '' }}</textarea>

        <label for="category">Wybierz rodzaj naruszenia</label>

        <div class="ui-grid-a ui-responsive" id="category">
        {% set i = 0 %}
        {% for catId,catName in categories %}
        {% if catName.title %}
            <div class="ui-block-{{ categoriesMatrix[i % 2] }}"
                title="{{ catName.desc|striptags ~ "\n\n" ~ catName.law }}{% if catName.price %}{{ "\n\nTaryfikator: " ~ catName.price }}{% endif %}">
                <input type="radio" {% if catId == app.category %}checked="checked"{% endif %}
                    name="category" value="{{ catId }}" id="{{ catId }}"
                    data-contextImage-hint="{{ catName.contextImageHint }}" data-carImage-hint="{{ catName.carImageHint }}">
                <label for="{{ catId }}">
                    <img src="img/{{ catId }}.jpg?fresh">
                    <p>{{ catName.title|raw }}
                        {% if catName.price %}<span class="price-list">Mandat: {{ catName.price }}</span>{% endif %}
                    </p>
                </label>
            </div>
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
            <p style="clear: both;">Masz wątpliwości którą kategorię wybrać? Przeczytaj <a href="przepisy.html?dialog" close-btn="none" data-transition="pop">nasz poradnik</a>.</p>
        </div>
        <label class="section">Oświadczenia</label>

{% set witness = true %}
{% if app.statements is not defined or not app.statements.witness %}
    {% set witness = false %}
{% endif %}
        <label for="witness">
            <i>{{ app.guessUserSex.bylam|capitalize }} świadkiem momentu parkowania:</i></span>
        </label>
        <input data-mini="true" type="checkbox" data-role="flipswitch" name="witness" id="witness"
            data-on-text="tak" data-off-text="nie"
            {% if witness %}
                checked
            {% endif %} />
    </div> <!-- ui-field-contain -->
</form>

<script src="/js/new-app.js?%JS_HASH%" last-location="{{ app.address.latlng ?? config.lastLocation }}"></script>

{% endblock %}