{% set leftButton = 'menuBack' %}
{% set leftButtonIcon = 'ui-icon-edit' %}

{% block rightButtonCustom %}
<a onclick="$('#form').submit();"
    class="ui-btn-right ui-alt-icon ui-nodisc-icon ui-btn ui-corner-all
    ui-btn-inline ui-btn-icon-left ui-icon-check">Zapisz!</a>
{% endblock %}

{% extends "base.html.twig" %}

{% block main %}
<h2>Jeszcze chwila!</h2>
<p>Sprawdź dane przed zapisaniem zgłoszenia.
    {% if not general.hasApps %}<b>{% endif %}
    Nie obawiaj się – na tym etapie nic nie zostanie wysłane do <b>{{ app.guessSMData.getName }}</b>.
    {% if not general.hasApps %}</b>{% endif %}</p>

{% include('_application.html.twig') %}

<form action="/dziekujemy.html" id="form" method="post" data-ajax="true">
    <input type="hidden" id="applicationId" name="applicationId" value="{{ app.id }}"/>
</form>
{% endblock %}