{% set leftButton = 'menu' %}
{% set rightButton = 'menuStart' %}
{# SITEMAP-PRIORITY:0.4 #}

{% extends "base.html.twig" %}

{% block main %}

<h2>Statystyki</h2>

<p>Nowe zgłoszenia oraz rejestracje nowych użytkowników w ostatnich trzydziestu dniach.</p>
<div id="statsByDay" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

<p>Nowe zgłoszenia oraz rejestracje nowych użytkowników.</p>
<div id="statsByYear" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

<p>TOP 10 miast z największą ilością zgłoszeń.</p>
<div id="statsAppsByCity" style="min-width: 250px; height: 300px; margin: 0 auto"></div>

<p>TOP 10 najpopularniejszych marek pojazdów sprawcy.</p>
<div id="statsByCarBrand" style="min-width: 250px; height: 300px; margin: 0 auto"></div>

{% endblock %}
