label.section {
  padding: .5em 1.143em;
  font-size: 14px;
  font-weight: 600;
  background-color: #e9e9e9;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  margin-top: 0em;
  margin-bottom: 2em;
}

label.hint {
  color: #009C7F;
  clear: both;
}

label {
  font-weight: 300;
}

label span.price-list {
  display: block;
  margin-top: 0.5em;
}

.ui-input-text input, .ui-input-search input {
  border: 1px solid #009C7F;
  color: #009C7F;
  margin-bottom: 1em;
}

input:disabled {
  color: #000;
}

input.error, textarea.error{
  border: 1px solid red !important;
}
div.error img{
  background-color: rgba(255, 0, 0, 0.3);
}

.new-application .datetime a {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.new-application .datetime a.changeDatetime {
  font-weight: 300;
  text-decoration: none;
}

.new-application .location-picker .centerMarker {
  background: url('../img/map-circle.png') no-repeat;
  height: 64px;
  width: 64px;
  margin-left: -32px;
  margin-top: -32px;
}

.new-application .datetime span#date,
.new-application .datetime span#time {
  font-weight: 400;
}

::-webkit-input-placeholder { /* WebKit browsers */
text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
text-transform: none;
}

div.ui-block-a > div.ui-radio,
div.ui-block-b > div.ui-radio {
  margin: 0;
}

p.pictureHint {
  z-index: 1;
  bottom: 0px;
  position: absolute;
  text-shadow: none;
  color: white;
  padding: 3px;
  display: none;
  margin-right: 0.4em;
  background: rgb(0, 0, 0, 0.3);
  border-radius: 0.3em;
  font-size: 90%;
}

.new-application label {
  margin-bottom: 0;
  margin-top: 1em;
}

.new-application label a {
  font-weight: 400 !important;
  font-size: 70%;
  text-transform: uppercase;
}

.new-application .edit-warning {
  margin-bottom: 0.5em;
}

.new-application .edit-warning .ui-bar-a {
  background-color: #e9c200;
}

.new-application .image-upload input {
  display: none;
}

div.loader {
  margin: 30px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #009C7F; /* Blue */
  border-radius: 50%;
  width: 50px !important;
  height: 50px;
  animation: spin 2s linear infinite;
}

div.loader.l {
  animation: spinl 2s linear infinite;
}

.new-application .contextImageSection img,
.new-application .carImageSection img{
  background-repeat: no-repeat;
  background-position: center;
  height: 110px;
}

.new-application .contextImageSection img {
  background-image: url('../img/cameraContext.png');
}

.new-application .carImageSection img {
  background-image: url('../img/cameraPlate.png');
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spinl {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}


.new-application .ui-input-text input#plateId {
  text-transform: uppercase;
  max-width: 10.5em;
}

.new-application .plate div.ui-input-text {
  max-width: 10.5em;
}

.new-application #category {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.new-application #category img {
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 0.8em;
}

.new-application #category label {
  display: block;
  font-weight: 300;
  border: none;
  --moz-columns: 2 120px;
  --webkit-columns: 2 120px;
  --columns: 2 120px;
  display: table;
}

.new-application #category label img,
.new-application #category label p {
  display: table-cell;
  vertical-align: top;
}

.new-application #category label p {
  padding: 0 1em;
  width: 100%;
}

@media (max-width: 40em) {
  #category.ui-responsive > .ui-block-a,
  #category.ui-responsive > .ui-block-b {
      width: 100%;
      float: none;
  }
}

.new-application .combo input {
  height: 1em;
  vertical-align: top;
  padding-left: 2em;
}

.new-application .combo a{
  width: 20px;
  height: 20px;
  margin-top: -5em;
  display: inline-block;
  cursor: pointer;
}

.new-application .locationPickerClass {
  width: 100%;
  height: 200px;
  border-radius: 0.8em;
  margin-top: 0.3em;
}

.new-application .locationPickerBig {
  height: 500px;
}

.new-application div.combo .ui-disabled {
  opacity: .5;
}

.new-application .right-align {
  text-align: right;
}

.ui-button-resizeMap {
  display: block;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0px;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  width: 25px;
  height: 25px;
  top: 2em;
  right: 0.3em;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #ddd;
  border: 1px solid #ddd;
}

@media (hover: hover) and (pointer: fine) {
  #resizeMap {
      display: none;
  }
}

.ui-icon-arrowsout {
  background-image: url("../img/arrows-out.png");
}

.ui-icon-arrowsin {
  background-image: url("../img/arrows-in.png");
}
